*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    /* RESET DE ESPAÇAMENTO */
}


/* MAIN CONTAINER */
#container{
    width: 280px;
    margin: auto;
}


/* MENU */
header{
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
    /* border: red 1px solid; */
}

nav{
    max-width: 100%;
    /* border: red 1px solid; */
}


/* PRODUCT CARDS CONTAINER */
.cardsContainer{
    max-width: 100%;
    height: 650px;
    padding: 10px;
    margin: auto;
    /* border: 1px solid red; */
}

.cardsContainerContact{
    max-width: 100%;
    /* height: 650px; */
    padding: 10px;
    margin: auto;
    /* border: 1px solid red; */
}

.card{
    max-width: 100%;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

#foundCards{
    padding: 10px;
    max-width: 100%;
}

/* SEARCH AREA */
#search{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 100%;
}

#searchContainerForm{
    padding: 10px;
    max-width: 100%;
    margin: auto;
    /* border: 1px solid red; */
}

#searchResults{
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchContainer{
    max-width: 100%;
    padding: 10px;
    margin: auto;
    /* border: 1px solid red; */
}


/* FEATURED AREA */
#featured{
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#featured button{
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid red; */
}


/* ALL PRODUCTS AREA */
#allProducts{
    padding-top: 10px;
    padding-bottom: 10px;
}

#allProducts button{
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid red; */
}

/* FOOTER */
footer{
    padding-top: 15px;
    padding-bottom: 15px;
}


/* TEXT TAGS */
h1{
    font-size: 18px;
    text-align: center;
}


/* CAROUSEL ARROWS COLOR */
.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}